* {
    border: 1px solid red;
}

:root {
    --bg-dark: #0D0E13;
    --bg-light: #1A1D24;
    --gold-accent-dark: #C29A54;
    --gold-accent-light: #F3E5AB;
    --text-white: #F5F5F7;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0px;
}

#header {
    display: flex;
    height: 70px;
    margin: 0px;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    background-color: var(--bg-dark);
}

#right-header-panel {
    display: flex;
    align-items: center;
    gap: 50px;
}

#header-links{
    display: flex;
    align-items: center;
    color: var(--text-white);
    gap: 20px;
}

#contact-button {
    all: unset;
    background-color: var(--gold-accent-dark);
    text-align: center;
    height: 60%;
    width: 120px;
    border-radius: 9999px; 
    font-size: 20px;
}

#header-links a {
    color: var(--text-white);
}

#hero {
    height:500px;
    background-color: var(--bg-light);

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#hero-left {
    width: 500px;
    height: 300px;
}

#hero-right {

}

#hero img {
    width: 500px;
    height: 200px;
}