* {
    /*border: 1px solid red;*/
}

:root {
    --bg-dark: #0D0E13;
    --bg-light: #1A1D24;
    --gold-accent-dark: #C29A54;
    --gold-accent-light: #F3E5AB;
    --text-white: #F5F5F7;
    --text-offwhite: #aeaeae;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0px;
    background-color: var(--bg-light);

    background-image:  linear-gradient(var(--bg-dark) 1px, transparent 1px), linear-gradient(to right, var(--bg-dark) 1px, var(--bg-light) 1px);
    background-size: 30px 30px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0px;
}

#header {

    position: sticky;
    background-color: var(--bg-dark);
    display: flex;
    height: 60px;
    margin: 0px;
    justify-content: space-between;
    padding-left: 0px;
    padding-right: 10px;
    border-radius: 9999px;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 10px;

}

#right-header-panel {
    display: flex;
    align-items: center;
    gap: 50px;
}

#header-links{
    display: flex;
    align-items: center;
    color: var(--text-white);
    gap: 20px;
}

#contact-button {
    all: unset;
    background-color: var(--gold-accent-dark);
    text-align: center;
    height: 70%;
    width: 160px;
    border-radius: 9999px; 
    font-size: 20px;
}

#header-links a {
    color: var(--text-white);
    font-size: 18px;
}

#hero {
    height:500px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#hero-panel {
    width: 700px;
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero h1 {
    text-align: center;
    font-size: 40px;
    color: var(--text-white);
    text-transform: uppercase;
}

#hero p {
    text-align: center;
    color: var(--text-offwhite);
    font-size: 20px;
    max-width: 80%;
}

.outlive-highlight{
    color: var(--gold-accent-dark);
    font-size: 70px;
}